.footer-main-con {
  height: 530px;
  padding-top: 50px;
  background-color: #002E48;
}

.footer-con {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-first-child {
  width: 25%;
  list-style: none;
  padding: 0;
}

.footer-firstchild-header {
  padding-left: 20px;
}
.footer-firstchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
  width: 275px;
}

.footer-firstchild-body {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-firstchild-body-left h5 {
  width: 100px;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.footer-firstchild-body-left h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}

.footer-firstchild-body-right {
  margin-left: 20px;
}
.footer-firstchild-body-right h5 {
  width: 100px;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}
.footer-firstchild-body-right h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.footer-firstchild-body-right p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}
.footer-firstchild-body-right p:hover {
  background-color: #003859;
}

.footer-second-child {
  width: 15%;
  list-style: none;
  padding: 0;
}

.footer-secondchild-header {
  padding-left: 20px;
}
.footer-secondchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
}

.footer-secondchild-body {
  list-style: none;
  padding: 0;
}
.footer-secondchild-body h5 {
  width: 110px;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.footer-secondchild-body h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.footer-secondchild-body p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.footer-secondchild-body p:hover {
  background-color: #003859;
}

.footer-third-child {
  width: 15%;
  list-style: none;
  padding: 0;
}

.footer-thirdchild-header {
  padding-left: 20px;
}
.footer-thirdchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
}

.footer-thirdchild-body {
  list-style: none;
  padding: 0;
}
.footer-thirdchild-body h5 {
  width: 170px;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.footer-thirdchild-body h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.footer-thirdchild-body p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.footer-thirdchild-body p:hover {
  background-color: #003859;
}

.footer-last-child {
  width: 25%;
  list-style: none;
  padding: 0;
}

.footer-lastchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
}

.footer-lastchild-body {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-lastchild-body-left h5 {
  width: 150px;
  color: white;
  margin: 4px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.footer-lastchild-body-left h5:hover {
  color: #2E9CDF;
}

.footer-lastchild-body-right {
  width: 45%;
  cursor: pointer;
}
.footer-lastchild-body-right h5 {
  width: 100px;
  color: white;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}
.footer-lastchild-body-right h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.footer-lastchild-body-right p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}
.footer-lastchild-body-right p:hover {
  background-color: #003859;
}

.footer-afterlastchild-con {
  list-style: none;
  padding: 0;
  padding-left: 10px;
  margin-top: 60px;
}
.footer-afterlastchild-con p {
  color: white;
  cursor: pointer;
  margin-left: -10px;
  padding: 10px;
  font-size: 13px;
  display: inline-block;
}
.footer-afterlastchild-con p:hover {
  background-color: #003859;
  color: #2E9CDF;
}

.footer-afterlastchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
  width: 150px;
}

.footer-afterlastchild-img-con {
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-soc-con {
  margin-left: 30px;
  width: 250px;
}

.footer-soc-text {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  transform: translateY(-10px);
}
.footer-soc-text p {
  color: white;
  margin: 0;
}

.copyright-main-con {
  background-color: #013654;
  height: 100px;
  width: 100%;
}

.copyright-con {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-con li {
  color: white;
}

.copyright-company-logo-con {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
}
.copyright-company-logo-con h1 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 10px;
  transform: translateY(-10px);
  display: inline-block;
  color: white;
}

.copyright-cookie-policy {
  margin-right: 20px;
}

.copyright-span {
  text-decoration: underline;
  cursor: pointer;
}

#rate-us-img-id {
  width: 100%;
  height: 100%;
}

.footer-arrow-icon {
  margin-left: 8px;
  width: 30px;
  height: 30px;
  display: none;
  color: #0091EA;
  transition: all 1s ease-in-out;
}

.spin-arrow {
  transform: rotateZ(180deg);
}

@keyframes spin-arrow {
  to {
    transform: rotateZ(180deg);
  }
}
@media (max-width: 1030px) {
  .footer-arrow-icon {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
  .footer-con {
    display: block;
    margin-left: 30px;
  }
  .footer-main-con {
    height: auto;
  }
  .dropdown-formobile {
    width: 96%;
    height: 60px;
    overflow-y: hidden;
    animation: decrease-height 1s forwards;
    transition: all 1s ease-in-out;
  }
  .footer-header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .footer-header-mobile h1 {
    font-size: 20px;
  }
  .footer-last-child {
    width: 70%;
  }
  .increase-height {
    animation: increase-height 1.5s forwards;
  }
  @keyframes increase-height {
    to {
      height: 300px;
    }
  }
  .increase-height-forintegrations {
    animation: increase-height-forintegrations 1.5s forwards;
  }
  @keyframes increase-height-forintegrations {
    to {
      height: 380px;
    }
  }
  @keyframes decrease-height {
    from {
      height: 300px;
    }
  }
  /* FOR COPYRIGHT SECTION */
  #copyright-company-logo-id {
    width: 30px;
    height: 20px;
  }
  .copyright-company-logo-con {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .copyright-company-logo-con h1 {
    transform: translateY(0px);
    margin-left: 5px;
    font-size: 17px;
  }
  .copyright-date {
    font-size: 12px;
    width: 120px;
    text-align: center;
  }
  .copyright-span {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .copyright-main-con {
    height: 55px;
  }
  .copyright-span {
    font-size: 8px;
  }
  .copyright-date {
    font-size: 10px;
    width: 100px;
    text-align: center;
  }
  .copyright-company-logo-con h1 {
    transform: translateY(0px);
    margin-left: 5px;
    font-size: 13px;
  }
}
@media (max-width: 370px) {
  .copyright-span {
    font-size: 6px;
  }
  .copyright-date {
    font-size: 7px;
    width: 80px;
    text-align: center;
  }
  .footer-last-child {
    width: 90%;
  }
}/*# sourceMappingURL=footer.css.map */