.testimonials-main-con {
    margin-left:5%;
    margin-right:1%;
}
.testimonials-con {
    list-style: none;
    padding: 0;
}
.testimonials-title {
    list-style: none;
    font-size: 35px;
    font-weight: 500;
    margin:15px;
    margin-bottom:50px;
}

.testimonials-content-con {
    list-style: none;
    height:10cm;
    overflow-x: scroll;
    overflow-y: hidden;
    display:flex;
}
.testimonials-content-innercon {
    padding:0;
    height:100%;
    display:flex;
    position:relative;
}
.testimonials-content-child {
    position:relative;
    list-style: none;
    padding:0;
    width: 1025px;
    height:100%;
    display:flex;
    margin-left:10px;
    margin-right: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #01426D, #0091EA);
}
.testimonials-info-content {
    width:38%;
    height:100%;
}
.testimonials-info-content-topimg {
    display:inline-block;
    margin:30px;
    margin-top:50px;
}
.testimonials-info-content-bottomtext {
    margin-top:100px;
    margin-left: 30px;
    h3{
        color:white;
        margin:0;
        margin-top:15px;
    }
    p {
        width:300px;
        font-size:small;
        margin:0;
        margin-top:5px;
        color: #ffffffbf;
    }
}
.testimonials-content-text-con {
    width:510px;
    height:300px;
    margin-top:30px;
    background-color: white;
    padding-left:50px;
    padding-right:50px;
    border-radius: 20px;
    display:grid;
    place-items: center;
    p {
        font-size:18px;
        font-weight: 550;
    }
}
.testimonials-content-quote {
    position:absolute;
    z-index: 1;
    right:40px;
    bottom:-15px;
}

@media (max-width: 1110px) {
    .testimonials-main-con {
        margin-left: 0%;
        margin-right: 0%;
    }
    .testimonials-content-child {
        width: 990px;
    }
    .testimonials-title {
        margin-left:75px;
    }
    .testimonials-content-text-con {
        width:510px;
        height:300px;
        margin-top:30px;
        margin-right: 30px;
        background-color: white;
        padding-left:50px;
        padding-right:50px;
        border-radius: 20px;
        p {
            font-size:18px;
            font-weight: 550;
        }
    }
}

@media (max-width: 1000px) {
    .testimonials-content-con {
        height:500px;
        display:block;
        overflow-y:visible;
    }
    .testimonials-content-child {
        display:block;
    }
    .testimonials-content-text-con {
        width:300px;
        height:300px;
        margin-top:30px;
        padding-left:20px;
        padding-right:20px;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        p {
            font-size:15px;
        }
    }
    .testimonials-content-innercon {
        display:flex;
    }
    .testimonials-info-content {
        display:flex;
        height: auto;
        width: 100%;
        justify-content: center;
    }
    .testimonials-info-content-bottomtext {
        margin-top:20px;
        margin-left: 30px;
    }
    .testimonials-content-quote {
        display:none;
    }
    #testimonials-img-id {
        width: 150px;
        height: 40px;
    }
}

@media (max-width: 590px) {
    .testimonials-title {
        font-size: 25px;
        margin-left:0;
        margin-right:0;
        text-align: center;
    }
    .testimonials-content-con {
        height:auto;
    }
    .testimonials-content-child {
        width: 320px;
        height: auto;
    }
    .testimonials-content-text-con {
        width:230px;
        height: auto;
        margin-top:25px;
        margin-bottom: 25px;
        margin-left: 25px;
        margin-right: auto;
        display:inline-block;
        p {
            font-size:12px;
        }
    }
    .testimonials-info-content-bottomtext {
        margin-top:10px;
        margin-left: 0px;
        width: 200px;
        h3 {
            font-size: 14px;
        }
        p {
            width: 120px;
        font-size: 10px;
        }
    }
    #testimonials-img-id {
        width: 120px;
        height: 35px;
    }
}