body {
    overflow-X: hidden;
    margin:0;
    font-family: "Poppins", sans-serif;
    color:#013654;
    transition: all 300ms ease-in-out;
}
.top-page-title-formobile {
    text-align: center;
    font-weight: 400;
}
.firstsection-main-con {
    padding:30px;
    display:flex;
    list-style: none;
}
.firstsection-left-con {
    margin-top:30px;
    width:45%;
}
#firstsection-title {font-size: 60px; font-weight: 400;}
.firstsection-left-btn-con {
    margin-top:40px;
}
.firstsection-play-icon-btn {
    width:12px;
    height: 12px;
    margin-right: 5px;
}
.firstsection-right-con {
    position:relative;
    width: 55%;
    height:50%;
}
.firstsection-style-line-con {
    position:absolute;
    bottom:0;
    transform: rotateZ(-145deg) translate(130px,-80px);
}

#firstsection-animation {
    margin-left:40px;
    width:84%;
    height:100%;
}


.firstsection-extra-margin {
    margin-left:20px;
}

@media (max-width:1275px) {
    .firstsection-style-line-con {transform: rotateZ(-145deg) translate(100px, 0px);}
}


@media (max-width:1030px) {
    .firstsection-main-con {
        position: relative;
    }
    .firstsection-left-con {
        position: absolute;
        bottom: -170px;
        margin-left: 25%;
    }
    .top-page-title-formobile {
        display:block;
    }
    #firstsection-title {
        display:none;
    }
    .firstsection-right-con {
        width: 100%;
    }
}