.techIntegrations-main-con {
    margin-top:80px;
}
.techIntegrations-con {
    display:flex;
    list-style: none;
}
#techIntegrations-img-id {
    width:80%;
    height: 80%;
}
.techIntegrations-info-con {
    width:50%;
    padding:4%;
    h2 {
        width:300px;
        font-size:35px;
        font-weight: 600;
    }
    p {
        width:300px;
        margin-bottom:30px;
    }
}
.techIntegrations-img-con {
    position:relative;
    width:100%;
    right:0;
}


@media (max-width:780px) {
    .techIntegrations-con {
        display: block;
        padding:4%;
    }
    .techIntegrations-info-con {
        width: 85%;
        h2 {
            font-size: 25px;
            width: 100%;
        }
        p {
            width: 100%;
            font-size: 15px;
        }
    }
}