.navbar-main-con {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80px;
  min-height: 80px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.navbar-logo-con {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#logo {
  width: 50px;
  height: 50px;
}

#logo-title {
  font-size: 28px;
  margin-left: 10px;
  color: #013654;
}

.navbar-list-con {
  display: flex;
  padding: 0;
  width: 760px;
  font-size: 16px;
  list-style: none;
  align-items: center;
}

.navbar-list-child {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.navbar-list-child:hover {
  background-color: #E5F1FD;
}

.navbar-p {
  margin: 0;
  color: #386179;
}

.navbar-first-child {
  margin-left: 0;
}

.navbar-last-child {
  margin-right: 0;
}

.navbar-arrow-icon {
  margin-left: 8px;
  width: 13px;
  height: 13px;
  color: #0091EA;
}

.navbar-demo-con {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.navbar-btn {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  background-color: #00C853;
  color: black;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

/* SUBCHILD FOR PLATFORM */
.navbar-subchild-con {
  position: absolute;
  display: flex;
  padding: 30px;
  padding-right: 0;
  top: 90px;
  list-style: none;
  width: 72%;
  opacity: 0;
  visibility: hidden;
  cursor: default;
  -o-border-image: linear-gradient(to top right, #0091EA, #7B95A4);
     border-image: linear-gradient(to top right, #0091EA, #7B95A4);
  border: solid 1px;
  transition: all 400ms ease-in-out;
  background-color: white;
  z-index: 1;
}

.navbar-subchild-element1 {
  padding: 0;
  list-style: none;
}

#feature-icon {
  width: 23px;
  height: 23px;
}

.navbar-subchild-header {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 14px;
}

.navbar-list-subchild-header-title {
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
}

.navbar-subchild-left-con {
  margin-left: 30px;
}

.navbar-subchild-leftelement-con1 {
  display: flex;
}

.navbar-subchild-text-con {
  margin-top: 10px;
  border-radius: 5px;
  width: 90%;
  height: 52px;
  padding: 7px;
  padding-left: 15px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.navbar-subchild-text-con:hover {
  background-color: #E5F4FD;
}

.navbar-subchild-title {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

.navbar-subchild-description {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  margin-top: 8px;
  color: #666666;
}

.second {
  margin-top: 2px;
}

.navbar-subchild-element2 {
  list-style: none;
}

.navbar-subchild-right-con {
  width: 100%;
}

.navbar-list-child:hover .navbar-subchild-con {
  opacity: 1;
  visibility: visible;
}

.navbar-subchild-con:hover {
  display: flex;
}

.subchild-right {
  width: 330px;
}

.subchild-left {
  width: 280px;
}

.subchild-hard-right {
  width: 100%;
}

/* SUBCHILD FOR USE CASES */
.subchild-u {
  opacity: 0;
  visibility: hidden;
  right: 20px;
}

.navbar-list-child:hover .subchild-u {
  opacity: 1;
  visibility: visible;
}

.navbar-subchild-headerleft {
  display: flex;
  align-items: center;
  width: 46%;
}

.navbar-subchild-headerright {
  margin-left: 3px;
  display: flex;
  align-items: center;
}

.navbar-subchild-block-con {
  display: flex;
  align-items: center;
}

.navbar-subchild-block-con:hover #navbar-icon {
  background-color: #0091EA;
}

#navbar-icon {
  border-radius: 5px;
  background-color: #7B95A4;
  padding: 5px;
  width: 40px;
  height: 35px;
  transition: all 300ms ease-in-out;
}

.navbar-subchild-text-con-block {
  height: 46px;
  width: 70%;
  padding: 3px;
  margin-top: 15px;
  background-color: #F4F4F4;
  border: solid #0091EA 1px;
}

.aws {
  margin-left: 20px;
  font-size: 13px;
}

/* SUBCHILD FOR WHY DUP */
.subchild-w {
  opacity: 0;
  visibility: hidden;
  width: 52%;
  right: 20px;
}

.navbar-subchild-last-text-con {
  margin-top: 10px;
  border-radius: 5px;
  width: 90%;
  padding: 7px;
  padding-left: 15px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.navbar-subchild-last-text-con:hover {
  background-color: #E5F4FD;
}

.navbar-subchild-last-txt {
  font-size: 13px;
  color: #009AEF;
  margin: 0;
}

/* SUBCHILD FOR RESOURCE */
.subchild-r {
  right: 20px;
  opacity: 0;
  visibility: hidden;
}

.navbar-list-child:hover .subchild-r {
  opacity: 1;
  visibility: visible;
}

/* ADD ON */
.changecolor-title {
  color: #009AEF;
}

/* CSS FOR MOBILE VERSION */
.top-page-title-formobile {
  display: none;
}

.navbar-main-con-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.navbar-demo-con-mobile {
  height: 50px;
  display: flex;
  width: 20%;
  padding: 0;
  margin-right: 15px;
  list-style: none;
}

.navbar-burgermenu-con-mobile {
  position: relative;
  list-style: none;
  padding: 0;
  width: 30px;
  height: 37px;
  margin: 10px;
  margin-top: 10px;
  transition: all 300ms ease-in-out;
}

.navbar-burgermenu-mobile {
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 300ms ease-in-out;
}

.navbar-btn-mobile {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  background-color: #00C853;
  color: black;
  padding: 10%;
  cursor: pointer;
}

.navbar-menu-con-mobile {
  position: absolute;
  display: none;
  list-style: none;
  padding: 0;
  border-radius: 15px;
  width: 300px;
  max-height: 500px;
  right: -350px;
  background-color: white;
  border: solid red;
  z-index: 1;
  margin-top: 30px;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.navbar-menu-child-header-mobile {
  display: flex;
}

.navbar-menu-child-mobile {
  padding: 0;
  list-style: none;
  margin: 25px;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}
.navbar-menu-child-mobile .navbar-p {
  font-size: 20px;
  cursor: pointer;
}

.navbar-list-subchild-header-title-mobile {
  font-size: 15px;
  margin-left: 10px;
  width: 100%;
}

.navbar-menu-child-body-mobile {
  padding-left: 10px;
  display: none;
}
.navbar-menu-child-body-mobile p {
  font-size: 15px;
}

.navbar-afterlastchild-con-mobile {
  padding: 0;
  list-style: none;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 30px;
}

.navbar-afterlastchild-header-mobile h1 {
  font-weight: 500;
  font-size: 20px;
  color: #2E9CDF;
  width: 250px;
}

.burgermenu-btn-forclick {
  width: 45px;
  height: 45px;
  transform: translate(-6px, -37px);
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.navbar-btn-forclick {
  position: absolute;
  width: 130px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.btn-forclick-longer {
  width: 190px;
}

.navbar-burgermenu-icon-con-mobile {
  padding: 0;
  list-style: none;
}

.platform-menu {
  transform: translateX(-150px);
}

.usecase-menu {
  transform: translateX(300px);
}

.whydup-menu {
  transform: translateX(-250px);
}

.pricing-menu {
  transform: translateX(300px);
}

.resource-menu {
  transform: translateX(-150px);
}

.findus-menu {
  transform: translateX(300px);
}

.clear-translate {
  transform: translateX(0px);
  display: block;
}

.display-none {
  display: none;
}

.display {
  display: block;
  position: relative;
}

/* for device responsive */
@media (max-width: 1275px) {
  .navbar-list-child {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-p {
    font-size: 13.5px;
  }
  .navbar-list-con {
    width: 633px;
    margin-left: 11%;
  }
  .navbar-demo-con {
    margin-right: 15px;
  }
  .navbar-demo-con .navbar-btn {
    width: 135px;
  }
}
@media (max-width: 1150px) {
  .navbar-list-con {
    margin-left: 0%;
  }
  .navbar-list-child {
    margin-left: 0;
    margin-right: 16px;
  }
  .navbar-first-child {
    margin-left: 10px;
  }
  .navbar-subchild-left-con {
    margin-left: 20px;
  }
  .subchild-left {
    width: 240px;
  }
  .subchild-right {
    width: 270px;
  }
  .subchild-p {
    right: 20px;
  }
}
@media (max-width: 1030px) {
  .top-page-title-formobile {
    display: block;
  }
  .navbar-main-con {
    display: none;
  }
  .navbar-main-con-mobile {
    display: flex;
  }
  .navbar-subchild-header {
    margin-left: 0;
  }
  .navbar-subchild-last-txt {
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
  }
  .navbar-subchild-last-txt:hover {
    background-color: #e5f0fc;
  }
}
@media (max-width: 925px) {
  #logo {
    width: 40px;
    height: 40px;
  }
  #logo-title {
    font-size: 20px;
  }
  .navbar-btn-mobile {
    font-size: 11px;
    padding: 6%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .navbar-demo-con-mobile {
    width: 20%;
    margin-right: 0px;
  }
  .navbar-menu-con-mobile {
    right: -400px;
  }
}
.navbar-arrow-icon {
  transition: all 300ms ease-in-out;
  transform: rotateZ(0deg);
}

.spin-arrow {
  transition: all 300ms ease-in-out;
  transform: rotateZ(180deg);
}

@keyframes spin-arrow {
  to {
    transform: rotateZ(180deg);
  }
}
@media (max-width: 700px) {
  .navbar-demo-con-mobile {
    width: 35%;
  }
}
@media (max-width: 395px) {
  .navbar-btn-mobile {
    font-size: 9px;
    padding: 6%;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #logo {
    width: 30px;
    height: 30px;
  }
  #logo-title {
    font-size: 16px;
  }
  .navbar-demo-con-mobile {
    width: 42%;
  }
}
/* ADD ON */
.move-menu-in {
  right: -10px;
}

.display-block {
  display: block;
}

.margin-to-usecase {
  margin-top: 100%;
}

.navbarOpenOpt {
  height: auto;
}

.move-head-up {
  transform: translate(0px, -10px) rotateZ(-45deg);
}

.move-head-down {
  transform: translate(0px, 6px) rotateZ(45deg);
}

.opacity-hide {
  opacity: 0;
}

@keyframes navbarOpenOpt {
  to {
    height: auto;
  }
}/*# sourceMappingURL=nav.css.map */