.poop-main-con {
  height: 530px;
  padding-top: 50px;
  background-color: #002E48;
}

.poop-con {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.poop-first-child {
  width: 25%;
  list-style: none;
  padding: 0;
}

.poop-firstchild-header {
  padding-left: 20px;
}
.poop-firstchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
}

.poop-firstchild-body {
  list-style: none;
  padding: 0;
  display: flex;
}

.poop-firstchild-body-left h5 {
  width: 100px;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.poop-firstchild-body-left h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}

.poop-firstchild-body-right {
  margin-left: 20px;
}
.poop-firstchild-body-right h5 {
  width: 100px;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}
.poop-firstchild-body-right h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.poop-firstchild-body-right p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}
.poop-firstchild-body-right p:hover {
  background-color: #003859;
}

.poop-second-child {
  width: 15%;
  list-style: none;
  padding: 0;
}

.poop-secondchild-header {
  padding-left: 20px;
}
.poop-secondchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
}

.poop-secondchild-body {
  list-style: none;
  padding: 0;
}
.poop-secondchild-body h5 {
  width: 110px;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.poop-secondchild-body h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.poop-secondchild-body p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.poop-secondchild-body p:hover {
  background-color: #003859;
}

.poop-third-child {
  width: 15%;
  list-style: none;
  padding: 0;
}

.poop-thirdchild-header {
  padding-left: 20px;
}
.poop-thirdchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
}

.poop-thirdchild-body {
  list-style: none;
  padding: 0;
}
.poop-thirdchild-body h5 {
  width: 170px;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.poop-thirdchild-body h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.poop-thirdchild-body p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.poop-thirdchild-body p:hover {
  background-color: #003859;
}

.poop-last-child {
  width: 25%;
  list-style: none;
  padding: 0;
}

.poop-lastchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
}

.poop-lastchild-body {
  list-style: none;
  padding: 0;
  display: flex;
}

.poop-lastchild-body-left h5 {
  width: 150px;
  color: white;
  margin: 4px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.poop-lastchild-body-left h5:hover {
  color: #2E9CDF;
}

.poop-lastchild-body-right {
  margin-left: 20px;
  cursor: pointer;
}
.poop-lastchild-body-right h5 {
  width: 100px;
  color: white;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}
.poop-lastchild-body-right h5:hover {
  color: #2E9CDF;
  background-color: #003859;
}
.poop-lastchild-body-right p {
  border-radius: 8px;
  color: #2E9CDF;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}
.poop-lastchild-body-right p:hover {
  background-color: #003859;
}

.poop-afterlastchild-con {
  list-style: none;
  padding: 0;
  padding-left: 10px;
  margin-top: 60px;
}
.poop-afterlastchild-con p {
  color: white;
  cursor: pointer;
  margin-left: -10px;
  padding: 10px;
  font-size: 13px;
  display: inline-block;
}
.poop-afterlastchild-con p:hover {
  background-color: #003859;
  color: #2E9CDF;
}

.poop-afterlastchild-header h1 {
  font-weight: 450;
  font-size: 25px;
  color: #2E9CDF;
  width: 150px;
}

.poop-afterlastchild-img-con {
  margin-top: 20px;
  margin-bottom: 0;
}

.poop-soc-con {
  margin-left: 30px;
  width: 250px;
}

.poop-soc-text {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  transform: translateY(-10px);
}
.poop-soc-text p {
  color: white;
  margin: 0;
}

.copyright-main-con {
  background-color: #013654;
  height: 100px;
  width: 100%;
}

.copyright-con {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-con li {
  color: white;
}

.copyright-company-logo-con {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
}
.copyright-company-logo-con h1 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 10px;
  transform: translateY(-10px);
  display: inline-block;
  color: white;
}

.copyright-cookie-policy {
  margin-right: 20px;
}

.copyright-span {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=footer.css.map */